@use "@/mixins";

.third-block {
  width: 100%;

  min-height: 100vh;
  overflow: hidden;

  background-color: var(--main-background);
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  max-width: 1440px;
  padding: 0 var(--margin-from-viewport);

  &__text {
    font-size: 36px;
    line-height: 45px;

    span {
      transition: opacity 0.3s;
      opacity: 0.3;

      &.active {
        opacity: 1;
      }
    }

    @include mixins.media("md") {
      font-size: 45px;
      line-height: 51px;
      max-width: 837px;
    }

    @include mixins.media("lg") {
      font-size: 60px;
      line-height: 69px;
    }

    @include mixins.media("lg") {
      font-size: 64px;
      line-height: 74px;
    }
  }
}
