@use "@/mixins";

.image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 710px;
  min-height: 410px;
  object-fit: cover;
  overflow: hidden;
  margin: 70px 0;

  @include mixins.media("md") {
    border-radius: 8px;
  }

  &.right {
    object-position: right;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &.left {
    object-position: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &.center {
    margin-top: 0;
    object-position: center;
    border-radius: 8px;
  }
}
