@use "@/mixins";

.star-block {
  position: relative;
  left: 20vw;
  bottom: 35px;
  width: 220px;
  height: 220px;

  transition: transform 0.5s;
  transform: scale(0.001);

  &.active {
    transform: scale(1);
  }

  @include mixins.media("md") {
    width: 350px;
    height: 350px;
    bottom: 25px;
  }

  @include mixins.media("lg") {
    position: absolute;
    width: 375px;
    height: 375px;
    left: unset;
    bottom: 3%;
    right: 0;
  }
}

.star {
  width: 100%;
  height: 100%;
}
