@use "@/mixins";

.first-block {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  min-height: max(100dvh, 830px);
  width: 100%;
  max-width: 1440px;

  img {
    @include mixins.media("lg") {
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @include mixins.media("md") {
    min-height: max(100dvh, 1000px);
  }

  @include mixins.media("lg") {
    min-height: max(100dvh, 750px);
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    padding-bottom: max(11lvh, 200px);

    @include mixins.media("md") {
      padding-bottom: max(11lvh, 230px);
    }

    @include mixins.media("lg") {
      padding-bottom: 0;
    }
  }

  &__title {
    margin: 0 auto;
    width: 85vw;

    @include mixins.media("sm") {
      width: 75vw;
    }

    @include mixins.media("md") {
      max-width: 715px;
    }

    @include mixins.media("lg") {
      margin-bottom: 6vh;
    }

    @include mixins.media("lg") {
      max-width: 845px;
    }
  }
}

.first-block .title {
  font-size: 10.8vw;
  letter-spacing: -0.01rem;
  line-height: 1.15;

  @include mixins.media("sm") {
    font-size: 9.4vw;
  }

  @include mixins.media("md") {
    font-size: 68px;
  }

  @include mixins.media("lg") {
    font-size: 76px;
  }
}
