@use "@/mixins";

.triangle-container {
  width: 124px;
  height: 121px;

  img {
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.1);
    }

    width: 100%;
    height: 100%;
  }

  @include mixins.media("md") {
    width: 200px;
    height: 196px;

    top: 0;
    left: 2%;
  }
}
