@use "@/mixins";

.left {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  overflow: hidden;

  img {
    border-radius: 12px;
  }

  &-row {
    display: flex;
    justify-content: center;
  }

  .item {
    min-width: 340px;
    height: 216px;
    object-position: right;
    object-fit: contain;

    @include mixins.media("md") {
      min-width: unset;
      width: 237px;
    }
  }

  .table {
    width: fit-content;
    height: 236px;
    object-position: left;
    object-fit: cover;

    max-height: 236px;

    margin-left: 8px;
    margin-top: 40px;

    @include mixins.media("md") {
      width: 237px;
    }
  }

  .columns {
    width: 237px;
    height: 233px;
    margin-left: 43px;

    @include mixins.media("md") {
      margin-left: 0px;
    }
  }

  .tools {
    width: 237px;
    height: 176px;

    @include mixins.media("md") {
      margin-left: 122px;
    }
  }
}

.right {
  padding: 50px 0;
  max-width: 684px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slide-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.slide {
  width: 320px;
  height: 470px;

  @include mixins.media("md") {
    width: 416px;
    height: 540px;
  }
}
