@import "../style/vars/index.scss";

html {
  background-color: #030303;
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.moveable-control-box {
  display: none !important;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

a {
  text-decoration: none;
}

.helvetica-font {
  font-family: var(--font-helvetica);
}

.editorial-font {
  font-family: var(--font-editorial);
}
