@use "@/mixins";

.second-block {
  width: 100%;
  height: var(--mobile-slider-block-height);
  z-index: 1;

  will-change: opacity, transform;

  padding-top: 50px;
  position: relative;

  padding-left: var(--margin-from-viewport);
  padding-right: var(--margin-from-viewport);
  background-color: var(--main-background);

  &__sticky {
    position: sticky;
    top: 5px;
    z-index: 1;

    height: 100vh;

    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    max-width: 400px;
    line-height: 21px;
    margin: 10px auto 16px;
    margin-bottom: 20px;
    min-height: 65px;

    @include mixins.media("sm") {
      min-height: 45px;
    }
  }

  &__title-item {
    display: flex;
    overflow: hidden;
    transform: translateY(15px);

    &_active {
      transform: translateY(0px);
      transition: transform 0.3s;
    }
  }
}
