@use "@/mixins";

.contact-container {
  position: absolute;
  display: flex;
  bottom: 26.3%;
  left: 3%;

  z-index: 2;

  cursor: grab;

  @include mixins.media("md") {
    left: -0%;
  }

  @include mixins.media("lg") {
    left: 1%;
    bottom: 18%;
  }
}

.nokia-wrapper {
  animation: livitationH 5s ease-in-out infinite forwards;
}

.nokia {
  width: 120px;

  animation: livitationR 5s ease-in-out infinite forwards;

  @include mixins.media("md") {
    width: 240px;
  }

  @include mixins.media("xl") {
    width: 250px;
  }
}

@keyframes livitationR {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-2deg);
  }

  75% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes livitationH {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-10px);
  }
}
