@use "@/mixins";

.fullsize {
  position: absolute;
  width: 157px;
  height: auto;
  z-index: -1;

  bottom: 25%;
  right: 4%;

  @include mixins.media("md") {
    width: 315px;
  }

  @include mixins.media("lg") {
    width: 275px;
    right: 52%;
    bottom: 0;
  }
}
